# Node.js
/node_modules

# Fichiers de configuration
/security/config.json

# Fichiers de logs
/logs
bans.txt
# Fichiers de sauvegarde
*.bak
*.backup

#Fichiers de commandes
/commands/banlist.js